<form [formGroup]="loginForm" (submit)="onSubmit()" class="form" id="form" name="form" >
   <h2 class="form__title">Full Name <span>*</span></h2>
   <div class="form__items">
     <div class="form__item">
       <input
           class="form__item_input"
           type="text"
           formControlName="fullName"
           >
       <div class="form__item_text">Full Name</div>
     </div>
     <div class="form__item">
       <input 
           class="form__item_input" 
           type="text"
           formControlName="lastName"
           >
       <div class="form__item_text">Last Name</div>
     </div>
   </div>
   <h2 class="form__title">Address <span>*</span></h2>
   <input 
       class="form__input" 
       type="text"
       formControlName="streetAddress"
       >
   <div class="form__text">Street Address</div>
   <input 
       class="form__input" 
       type="text"
       formControlName="streetAddressLine2"
       >
   <div class="form__text">Street Address Line 2</div>
   <div class="form__items">
     <div class="form__item">
       <input 
           class="form__item_input" 
           type="text"
           formControlName="city"
           >
       <div class="form__item_text">City</div>
     </div>
     <div class="form__item">
       <input 
           class="form__item_input" 
           type="text"
           formControlName="stateorProvince"
           >
       <div class="form__item_text">State / Province</div>
     </div>
   </div>
   <input 
       class="form__input" 
       type="text"
       formControlName="postalorZpCode"
       >
   <div class="form__text">Postal / Zp Code</div>
   <h2 class="form__title">Phone Number <span>*</span></h2>
   <input 
       #phoneInput
       placeholder="(000) 000-0000" 
       class="form__phone" 
       type="tel"
       pattern="^[0-9]{3,45}$"
       (focus)="phonePlaceholderRemove()"
       (blur)="phonePlaceholderAdd()"
       formControlName="phone">
   <h2 class="form__title">E-mail</h2>
   <input 
       placeholder="ex: email@yahoo.com"  
       class="form__email" 
       type="email"
       #emailInput
       (focus)="emailPlaceholderRemove()"
       (blur)="emailPlaceholderAdd()"
       formControlName="email">
   <div class="form__text">example@example.com</div>
   <div class="form__line"></div>
     <button 
       type="submit" 
       class="form__button"
       >
       Submit
     </button>
</form>